#navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Ocultar conteúdo excessivo durante a transição */
}

#navigation-container:hover {
  width: 15%;
}

/* Inicialmente, ocultar o nome do item de navegação */
.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Adicionar transição de opacidade */
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Adicionar transição de opacidade */
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Adicionar transição de opacidade */
}
